@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #FBF8BE;
    background: #234E70;
}

p{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
}

.main_container {
    position: relative;
    padding: 0% 12% 0 12%;
    min-width: 1366px;
}

h1.title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 38px;
    word-spacing: 25 px;
    letter-spacing: 3px;
    color: #C5FAD5
}

h1.title:after {
content:'';
display:flex;
width:100%;
height:100%;
border-bottom:3px solid #C5FAD5;
}

h2.title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 25px;
    word-spacing: 12 px;
    letter-spacing: 3px;
    color: #C5FAD5
}

h3.title {
    color: #C5FAD5;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button {
    padding: 16px 32px;
    border: 2px solid #C5FAD5;
    border-radius: 15px;
    box-shadow: 2px 2px 0 0 #C5FAD5;
    transition: 0.2s all;
}

.button:hover {
    box-shadow: 3px 3px 0 0 #C5FAD5;
    background: #234E70;
    filter: brightness(120%);
}

/* Navigation bar*/
.navbar {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.logo {
    width: 64px;
    height: 64px;
    padding: 10px;
    display: block;
    margin-right: 90px;
}

/* TODO To remove when I have the logo. */
.logo a {
}

.navbar .navbar_items ul {
    display: flex;
}

.navbar .navbar_items ul li {
    margin: 0 10px;
}

/* fr en selector */
.fr-en-selector {
    text-align: center;
}

/* Section blocks */
.section-block {
    padding-top: 8%;
}

.section-block p, h2, h3, h4, ul {
    word-spacing: 7 px;
    letter-spacing: 2px;
    margin-left: 128px;
    font-size: 22px;
}

.section-block

/* Intropduction */
.introduction {
}

.introduction h1 {
    font-size: 48px;
    padding-bottom: 25px;
}

.introduction p {
    font-size: 32px;
    line-height: 32px;
}

/* About me */
.about {
}

.about h1 {
text-align:right;
padding-bottom: 20px;
}

.about p {
  font-size: 22px;
  line-height: 22px;
}

/* Experiences */
.experiences {
}

.experiences-box {
display: flex;
}

.experiences-nav-bar {

}

.experiences-nav-bar a {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.experiences-content {
    padding: 20px;
}

.experiences-content li {
    margin: 5px;
}

.experiences-nav-bar li {
    margin: 50px;
    width: 270px;
    text-align: center;
    padding: 0px;
}

.task-list li{
    list-style: circle inside;
}

/* Stand out */
.stand-out-element {
    color: #C5FAD5;
    filter: brightness(1.1)
}

/* Education */
.education {

}

.education h1.title {
text-align:right;
}

.education li {
padding: 10px;
}

/* Certification */
.certification {

}

.certification li {
padding: 10px;
}

/* Contact */
.contact {
padding-bottom: 150px;
}

.contact p {
    line-height: 28px;
}

.contact h1.title {
 text-align: right;
}