@()

@main("Gaspard Dubois Website") {
<!-- Add dates for the informations -->
<div class="main_container" id="home">
    <div class="navbar">
        <div class="logo">
            <a href="#"><img src="assets/images/omega-dark-thin.png" witdh="124" height="124" /></a>
        </div>
        <div class="navbar_items">
            <ul>
                <li><a href="#about"><span class="stand-out-element">I.</span> About me</a></li>
                <li><a href="#experiences"><span class="stand-out-element">II.</span> Experiences</a></li>
                <li><a href="#education"><span class="stand-out-element">III.</span> Education</a></li>
                <li><a href="#certification"><span class="stand-out-element">IV.</span> Certifications</a></li>
                <li><a href="#contact"><span class="stand-out-element">V.</span> Contact me</a></li>
                <li><a href="assets/resources/resume.pdf" class="button">Resume</a></li>
            </ul>
        </div>
    </div>

    <div class="section-block introduction">
        <h1 class="title">Hi, I'm Gaspard DUBOIS</h1>
        <p>
            I'm a <span class="stand-out-element">Software Engineer</span> based in the <span class="stand-out-element">Parisian region</span> specialized in <span class="stand-out-element">Big Data</span>.<br/><br/>
            <q>Make everything as simple as possible, but not simpler.</q> - Albert Einstein<br/><br/><br/>
            <a href="assets/resources/resume.pdf" class="button">Resume</a> or <a href="#contact" class="button">Get in touch</a>
        </p>
        <!-- TODO Get in touch link-->
    </div>

    <div class="section-block about" id="about">
        <h1 class="title">About me</h1>
        <p>
            I have <span class="stand-out-element">3 years</span> of experience as a <span class="stand-out-element">Data Engineer</span>. <br/><br/>

            Specialized in <span class="stand-out-element">Big Data</span>, I put a lot of interest into the design and the development of data architecture with a <span class="stand-out-element">high scalability</span> potential.<br/><br/>

            I consider that <span class="stand-out-element">Software Engineering</span> is all about <span class="stand-out-element">delivery</span>, defining the needs, planing the development
            steps, sharing the knowledge and coding are skills that any IT professional should own. <br/><br/>

            In all of my experiences I seek the development of my <span class="stand-out-element">craftmanship skills</span> by aiming to produce <span class="stand-out-element">simple</span> and
            <span class="stand-out-element">efficient</span> works that answers the <span class="stand-out-element">clients demands</span>.
        </p>
    </div>

    <div class="section-block experiences" id="experiences">
        <h1 class="title">Experiences</h1>
        <div class="experiences-box">
            <div class="experiences-nav-bar">
                <ul>
                    <li>Tinyclues</li>
                    <li>Société Générale</li>
                    <li>CMS Group</li>
                    <li>Keyrus</li>
                    <li>AMFine Services & Software</li>
                    <li>Les Ateliers Optentiels</li>
                </ul>
            </div>
            <div class="experiences-content">
                <div class="experience-tinyclues">
                    <h3>Data Engineer at <a href="#">Tinyclues</a></h3>
                    <p>
                        Tinyclues is a marketing company owning a SaaS solution made to optimize its client market
                        campaign using real artificial inteligence.
                    </p>
                    <h4>Tasks</h4>
                    <ul>
                        <li>Creating a new datalake designed to ingest the huge clients database (Petabytes of data).
                        </li>
                        <li>Creating jobs to make the ingestion data.</li>
                        <li>Creating and maintaining an orchestration framework.</li>
                        <li>Creating and a post processing framework.</li>
                    </ul>
                    <h4>Techs</h4>
                    <ul>
                        <li>Python</li>
                        <li>Scala</li>
                        <li>Apahce Spark</li>
                        <li>Aws Cloud</li>
                        <li>Airflow</li>
                        <li>Kubernetes</li>
                        <li>Terraform</li>
                        <li>Docker</li>
                        <li>Git</li>
                        <li>CircleCI</li>
                    </ul>
                </div>
                <div class="experience-societe-generale">
                    <h3>Data Engineer at <a href="#">Societé générale</a></h3>
                    <p>
                        I joined the CTY team in charge of the commodities in the bank market place.
                    </p>
                    <h4>Tasks</h4>
                    <ul>
                        <li>Refactor an algorithm using spark that generate a correlation matrice beetween the banks
                            clients and its products.
                        </li>
                        <li>Created data transfer jobs to feed a NoSql database.</li>
                        <li>Created an architecture to build the MIFID2 report for the commodities products.</li>
                    </ul>
                    <h4>Techs</h4>
                    <ul>
                        <li>Java</li>
                        <li>Apache Spark</li>
                        <li>Hadoop (Hortonworks)</li>
                        <li>Apache Kafka</li>
                        <li>HBase</li>
                        <li>SolR</li>
                        <li>Python</li>
                        <li>Git</li>
                        <li>Deployit</li>
                    </ul>
                </div>
                <div class="experience-cms-group">
                    <h3>Data Engineer at <a href="#">CMS Group</a></h3>
                    <p>
                        Hadoop administrator.
                    </p>
                    <h4>Tasks</h4>
                    <ul>
                        <li>I set up and administer an Hadoop cluster to be used by the Data Scientist and BI
                            engineer.
                        </li>
                    </ul>
                    <h4>Techs</h4>
                    <ul>
                        <li>Hadoop</li>
                        <li>Spark</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
                <div class="experience-keyrus">
                    <h3>Data Engineer at <a href="#">Keyrus</a></h3>
                    <p>
                        Joined this company as a Data Engineer, I could follow a one Spark formation from a certified
                        Spark Commiter.
                    </p>
                    <h4>Tasks</h4>
                    <ul>
                        <li>Created a development library in order to facilitate data transfer from a traditional
                            database to a NoSQL database to help a team working for Euler Hermes.
                        </li>
                    </ul>
                    <h4>Techs</h4>
                    <ul>
                        <li>Scala</li>
                        <li>Hadoop</li>
                        <li>Spark</li>
                        <li>MongoDB</li>
                        <li>Hbase</li>
                    </ul>
                </div>
                <div class="experience-afmine-services-and-software">
                    <h3>Java developper at <a href="#">AMfine Services & Software</a></h3>
                    <p>
                        AMfine Services & Software own a SaaS solution for asset management purpose.
                    </p>
                    <h4>Tasks</h4>
                    <ul>
                        <li>Created and implemented a testing framework.</li>
                        <li>Development of the solution.</li>
                    </ul>
                    <h4>Techs</h4>
                    <ul>
                        <li>Java</li>
                        <li>Junit</li>
                        <li>Selenium</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
                <div class="experience-afmine-services-and-software">
                    <h3>Back End developper at <a href="#">Les Ateliers Optentiels</a></h3>
                    <p>
                        Les Ateliers Optentiels is company proposing tutoring services.
                    </p>
                    <h4>Tasks</h4>
                    <ul>
                        <li>Implemented an administrator tool to digitalise their payment tutor process.</li>
                    </ul>
                    <h4>Techs</h4>
                    <ul>
                        <li>Php</li>
                        <li>MySQL</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section-block education" id="education">
        <h1 class="title">Education</h1>
        <h2 class="title">Studies</h2>
        <ul>
            <li>Master Degree in <span class="stand-out-element">software engineering</span> at Paris-Est Marne-la-Vallée.</li>
            <li>License of <span class="stand-out-element">computer science and mathematics</span> at Paris-Est Marne-la-Vallée.</li>
        </ul>
        <h2 class="title">Formations</h2>
        <ul>
            <li>Big Data Analisys with Scala and spark. <a href="https://www.coursera.org/account/accomplishments/verify/WWCRHRGX84LV"><span class="stand-out-element">See reference</span></a></li>
            <li>The complete Hands-On Introductionto Apache Airflow. <a href="https://www.udemy.com/certificate/UC-K88YYJW6/"><span class="stand-out-element">See reference</span></a></li>
        </ul>
        <h2 class="title">Personal interests</h2>
        <br/>
        <h3 class="title">Books</h3>
        <ul>
            <li><span class="stand-out-element">Clean code</span> by Robert C. Martin</li>
            <li><span class="stand-out-element">Clean coder</span> by Robert C. Martin</li>
            <li><span class="stand-out-element">Programming in Scala</span> by Odersky, Spoon and Venners</li>
            <li><span class="stand-out-element">Penetration Testing A hand on hacking</span></li>
            <li><span class="stand-out-element">High performance Spark</span> by Karau & Warren</li>
            <li><span class="stand-out-element">Architecture des machines</span> by J. Delacroix, A. Cazes</li>
            <li><span class="stand-out-element">La Blockchain pour les nuls</span> by Tiana Laurence</li>
        </ul>
        <br/>
        <h3 class="title">Personal projects</h3>
        <ul>
            <li><a href="https://github.com/omegaspard/gaspard-dubois-website"><span class="stand-out-element">This website</span></a> made with the scala play framework.</li><!--TODO add github -->
            <li><a href="https://github.com/omegaspard/simple-snake-in-java"><span class="stand-out-element">A snake coded in java</span></a> made with libGDX.</li><!--TODO add github-->
        </ul>
    </div>

    <div class="section-block certification" id="certification">
        <h1 class="title">Certification</h1>
        <ul>
            <li>Aws Big Data Engineer certificate. (In progress)</li><!-- TODO Add icons and links -->
            <li>Cloudera Big Data Engineer certificate. (In progress)</li><!-- TODO Add icon and links-->
        </ul>
    </div>

    <div class="section-block contact" id="contact">
        <h1 class="title">Get in touch</h1>
        <p>For business inquiries or if you just want to say hi feel free to send an email: <br/>
             <span class="stand-out-element">gaspardddubois@@gmail.com</span>. <br/><br/><br/>
            <a href="assets/resources/resume.pdf" class="button">Resume</a>
            <a href="assets/resources/resume.pdf" class="button">Copy mail</a>
            <a href="mailto:gaspardddubois@@gmail.com" class="button">Send mail</a>
        <!-- TODO resume button -->
        </p>
    </div>
</div>
<!--  TODO add the side element with the link to linkedin, github and copy mail to clip board -->
}