@()

@main("Gaspard Dubois Website") {

<div class="main_container" id="home">
    <div class="navbar">
        <div class="logo">
            <a href="#">G</a>
        </div>
        <div class="navbar_items">
            <ul>
                <li><a href="#">About me</a></li>
                <li><a href="#">Experiences</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Certifications</a></li>
                <li><a href="#">Contact me</a></li>
                <li><a href="#" class="button">Resume</a></li>
            </ul>
        </div>
    </div>
    <div class="introduction">
        <h1>Hi, I'm Gaspard DUBOIS</h1>
        <p>I'm a Software Engineer based in the Parisian region focusing my interest in Big Data and architecture with high honrizontal scalabity potential.</p>
    </div>

    <div class="about" id="about">
        <h1 class="title">About me</h1>
        <p>
            I cumulate 3 years of experience as a Data Engineer. Continuing to orient my career toward Big Data, I put a lot of interest into the design and the development of data architecture with a high scalability potential.
            I consider that Software Engineering is all about delivery, defining the needs, planing the development steps, sharing the knowledge and coding are skills that any IT professional should own.
            In all of my experiences I seek the development of my craftmanship skills by aiming to produce simple and efficient works that answers the clients demands.
        </p>
    </div>

    <div class="experiences" id=experiences">
        <h1 class="title">Experiences</h1>
        <div class="experiences-box">
            <div class="experiences-nav-bar">
                <ul>
                    <li>Tinyclues</li>
                    <li>Société Générale</li>
                    <li>CMS Group</li>
                    <li>Keyrus</li>
                    <li>AMFine Services & Software</li>
                </ul>
            </div>
            <div class="experiences-content">
                <div class="experience-tinyclues">
                    <p>

                    </p>
                </div>
                <div class="experience-societe-generale">
                    <p>

                    </p>
                </div>
                <div class="experience-cms-group"></div>
                <div class="experience-keyrus"></div>
                <div class="experience-afmine-services-and-software"></div>
            </div>
        </div>
    </div>

    <div class="education" id="education">
        <h1 class="title">Education</h1>
    </div>

    <div class="certifications" id="certification">
        <h1 class="tilte">Certification</h1>
    </div>

    <div class="contact" id="contact">
        <h1 class="title">Get in touch</h1>
        <p>If you want to contact me for business inquiries or if you just want to say hi feel free to send me an email to <span>gaspardddubois@gmail.com</span></p>
    </div>
</div>
}